.App {
  text-align: left;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.App-link {
  color: #f39200;
}

.Main-content {
  position:"absolute";
  top:"56px";
  bottom:"118px";
  width:"100%";
  overflow-y:"scroll";
  word-break:"break-word";
}
