

.split-pane-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #d5d7d9;
}
  
  .generate-container {
    background-color: #ffffff;
  }
  
  .code-container {
    background: #a6a3a3;
  }
  