/* Footer.css */
.container {
    background-color: rgb(0, 51, 97);
    height: 118px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    margin-bottom: 1em;
    padding: 10px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .link {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
  }
  
  .link a {
    color: #f39200;
    text-decoration: none;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  